@import "../App.scss";

.cases-title-col {
    position: fixed;
    left: 0;
    top: 97px;
    width: 224px;
    height: 100%;
    box-shadow: 5px -1px 4px #31353729;
    z-index: 1;
    background-color: #FFFFFF;
}

.title-header {
    background-color: #F6F8F8;
    padding: 8px 0 8px 32px;
    border-bottom: solid 1px #CFD4D7;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.titles-div {
    margin-top: 34px;
    overflow-y: auto;
    height: 2000px;
}

.title-row {
    padding: 16px 0 16px 32px;
    border-bottom: solid 1px #CFD4D7;
    font-weight: 600;
}