

.header-grid {
  display: grid;
  width: 100%;
  position: relative;
  z-index: 2;
  margin-left: 225px;
  grid-template-columns: 1.2fr 0.7fr 0.7fr 1fr 0.7fr 1fr 1fr 0.7fr;
}

.cases-grid {
    display: grid;
    // padding-top: 32px;
    width: 100%;
    position: relative;
    margin-left: 225px;
    grid-template-columns: 1.2fr 0.7fr 0.7fr 1fr 0.7fr 1fr 1fr 0.7fr;
}

.header-col {
  border-left: solid 1px #CFD4D7;
  border-bottom: solid 1px #CFD4D7;
  padding: 8px 20px 8px 12px;
  position: sticky;
  top: 0;
  // z-index: 20;
  background-color: #F6F8F8;
  min-width: fit-content;
  white-space: nowrap;
  h5 {
      padding-right: 5px;
  }
}

.vertical-dots-div {
  padding: 4px 10px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 0;
  &:hover {
    svg path {
      fill: #000000;
    }
  }
}

.case-col {
  padding: 16px 20px 16px 12px;
  font-size: 12px;
  border-left: solid 1px #cfd4d7;
  border-bottom: solid 1px #cfd4d7;
  min-width: fit-content;
  white-space: nowrap;
  &.title-col {
      padding-left: 32px;
      border-left: none;
      h5 {
          font-weight: 600;
      }
  }
}





// .cases-grid {
//     width: 100%;
//     height: 2000px;
//     position: relative;
//     z-index: 0;
//     margin-left: 224px;
//     padding-top: 0px;
// }

// .header-row-div {
//     position: relative;
// }

// .header-row {
//     position: absolute;
//     background-color: #F6F8F8;
//     border-bottom: solid 1px #CFD4D7;
//     position: absolute;
//     width: 100%;
//     z-index: 4;
// }

// .long {
//     flex: 1.8;
// }

// .medium {
//     flex: 1.2;
// }

//   .grid-wrapper {
//     padding-top: 32px;
//   }