.add-case-form {
    margin-top: 88px;
    & h3 {
        font-size: 20px;
        margin-bottom: 33px;
    }
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.case-info {
    border-bottom: solid 1px #CFD4D7;
}