@import "./App.scss";

.form-section {
    margin-top: 88px;
    & h3 {
        font-size: 20px;
        margin-bottom: 33px;
    }
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.case-info {
    border-bottom: solid 1px #CFD4D7;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    // border-bottom: solid 1px #CFD4D7;
}

.general-external-form {
    margin-top: 21px;
    padding-bottom: 40px;
    border-bottom: solid 1px #CFD4D7;
    & h3 {
        font-size: 20px;
        color: #313537;
    }
    hr {
        border-top: 1px solid #CFD4D7;
        border-bottom: none;
        margin: none;
        padding: none;
    }

    & .external-form-link {
        text-decoration: none;
        font-size: 12px;
        color: $msp-blue;
        font-weight: 600;
        padding: 10px 0 10px 10px;

        &:hover {
            color: $msp-blue-light;
            cursor: pointer;
        }
    }
    & .no-entry {
        font-size: 12px;
        color: #73787B;
        font-style: italic;
        margin-top: 11px;
    }
}

.date-dropdown-div {
    display: flex;
    width: 100%;

    .floating-input-view {
        margin-bottom: 20px;
    }

    .date-invalid-msg {
        color: $error-color;
        font-size: 11px;
        position: absolute;
        bottom: 120px;
    }
}

.modal-form {
    margin: 5px 0 30px;
    padding-top: 40px;
    border-top: solid 1px #CFD4D7;
}