@import url("https://rsms.me/inter/inter.css");
$msp-blue: #1b93c5;
$msp-blue-light: #56beeb;
$error-color: rgb(255, 145, 125);

.App {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  min-width: 860px;
  overflow-y: auto;
}
