@import url("https://rsms.me/inter/inter.css");
$msp-blue: #1b93c5;
$msp-blue-light: #48b0dd;

.App {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
}