.add-first-case {
    width: 32%;
    margin: 29vh auto 0;
    text-align: center;
  
    p {
      font-weight: 400px;
      font-size: 14px;
      margin-top: 2.5rem;
      margin-bottom: 2.1rem;
    }
  }