@import "../App.scss";

.lw-button {
  background-color: $msp-blue;
  padding: 10px 32px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
  min-width: fit-content;
  white-space: nowrap;
  &:hover {
    background-color: $msp-blue-light;
    cursor: pointer;
  }
  min-width: fit-content;
  white-space: nowrap;
}

.gray-button {
  margin-right: 8px;
  background-color: #e8ecee;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px 16px 9px;
  color: $msp-blue;
  font-weight: 600;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  &:hover {
    background-color: rgb(221, 227, 230);
    // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
    color: $msp-blue;
  }
  min-width: fit-content;
  white-space: nowrap;
}

.blue-border-button {
  border-radius: 4px;
  border: 1px solid #1B93C5;
  background-color: #FFFFFF;
  color: #1B93C5;
  width: 100%;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  &:hover {
    background-color: #1B93C5;
    color: white;
  }
  min-width: fit-content;
  white-space: nowrap;
}

.red-border-button {
  border-radius: 4px;
  border: 1px solid #FB3156;
  background-color: #FFFFFF;
  color: #FB3156;
  width: 100%;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  &:hover {
    background-color: #FB3156;
    color: white;
  }
  min-width: fit-content;
  white-space: nowrap;
}

.lw-button-small {
    border-radius: 4px;
  border: 1px solid $msp-blue;
  background-color: $msp-blue;
  color: #FFFFFF;
  width: 100%;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  &:hover {
    background-color: $msp-blue-light;
    color: white;
    border-color: $msp-blue-light;
  }
  min-width: fit-content;
  white-space: nowrap;
}