.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.425);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  &.out {
    animation: fadeOut 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  animation: scaleUp 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  width: 75%;
  min-width: 690px;
  max-width: 850px;
}

.out {
  animation: scaleDown 0.3s ease-in forwards;
}

.kill {
  display: none;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.3);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.3);
    display: block;
  }
  100% {
    background: rgba(0, 0, 0, 0);
    display: none;
  }
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, 200%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 200%);
    opacity: 0;
  }
}
