.percentage-bars-div {
    padding-bottom: 18px;
    width: 30%;
    min-width: 220px;
    white-space: nowrap;
    & h4 {
        margin-bottom: 18px;
    }
    &.right {
        margin-right: 0;
    }
    margin-right: min(15px);
    position: relative;
}

.bar-graph-info {
    justify-content: space-between;
    & p {
        margin-bottom: 7px;
    }
}

.claim-name {
    font-size: 12px;
    font-weight: 600;
}

.claim-numbers {
    font-size: 12px;
    font-weight: 600;
    color: #1B93C5;
}

.bar-graph-bg {
    height: 12px;
    background-color: #E8ECEE;
    margin-bottom: 14px;
}

.bar-graph {
    background-color: #CFD4D7;
    height: 12px;
    width: 100%;
}

.bar-graph-div:first-child {
    & .bar-graph-bg {
        background-color: #1B93C5;
    }

}

.view-all-btn {
    position: absolute;
    bottom: -30px;
    width: 100%;
}