.percentage-bars-div {
    margin-bottom: 18px;
    width: 30%;
}

.bar-graph-div {
    justify-content: space-between;
}

.claim-name {
    font-size: 12px;
    font-weight: 600;
}

.claim-numbers {
    font-size: 12px;
    font-weight: 600;
    color: #1B93C5;
}