.case-details-page {
    display: flex;
    flex-direction: column;
    min-width: 860px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.case-details {
    padding-top: 40px;
    border-bottom: solid 1px #CFD4D7;
    overflow-y: auto;
    & h3 {
        padding-bottom: 33px;
    }
    & .info-div {
        width: 30%;
        min-width: fit-content;
        white-space: nowrap;
        padding-bottom: 40px;
        & p {
            font-size: 12px;
        }
        & .info-p {
            font-weight: 600;
            margin-top: 6px;
        }
    }
}