.client-metrics {
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  border-bottom: solid 1px #CFD4D7;
  & h4 {
    font-size: 14px;
    font-weight: 600;
  }
}

.client-metrics-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;
  white-space: nowrap;
}

.extra-line {
  @media screen and (max-width: 900px) {
    font-size: 12px;
  }
}

.map-div {
  // min-width: 807px;
  margin-top: 70px;
  & img {
    width: 100%;
  }
}