.client-detail-page {
  display: flex;
  flex-direction: column;
  min-width: 860px;
  cursor: default;
  & .padding-adjust-left {
    padding-left: 8px;
  }
  & .padding-adjust-right {
    padding-right: 8px;
  }
  & h3 {
    font-size: 20px;
    margin: 40px 0 36px;
  }
  & .section-title {
    & h3 {
      margin: 31px 0 15px;
    }
  }
}

.client-detail-header1 {
  display: flex;
  flex-direction: column;
  flex: 0 0 60px;
  border-bottom: solid 1px #cfd4d7;
}

.client-header1-line1-middle {
  margin-right: -296px;
  padding-right: 80px;
  padding-left: 72px;
}

.client-detail-header2 {
  display: flex;
  flex: 0 0 161px;
  border-bottom: solid 1px #cfd4d7;
  & .client-img {
    margin-top: 22.5px;
    margin-right: 24px;
  }
  & .img {
    width: 115px;
  }
  &.collapsed {
    flex: 0 0 100px;
    transition-duration: 500ms;
    img {
      width: 55px;
      animation: shrinkSize 500ms forwards;
    }
    .bottom {
      display: none;
    }
  }
}

.client-detail {
  overflow-y: auto;
}

.main-info {
  display: flex;
  flex-direction: row;
}

.main-info-middle {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  & .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & h1 {
      font-size: 32px;
    }
    & .arrow-div {
      padding: 7px 5px 3px;
      cursor: pointer;
      &:hover {
        svg path {
          fill: #000000;
        }
        svg {
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
        }
      }
      &.rotate {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  & .bottom {
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    white-space: nowrap;
    justify-content: space-between;
    & .info-div {
      padding-right: 82px;
      padding-left: 20px;
      border-right: solid 1px #cfd4d7;
      & p {
        font-size: 12px;
        line-height: 160%;
      }
      &.left {
        padding-left: 0px;
      }
      &.right {
        border-right: none;
        padding-right: 0;
      }
      & .email {
        text-decoration: underline;
        color: #1b93c5;
        cursor: pointer;
        &:hover {
          color: #4ebeee;
        }
      }
    }
  }
}

.client-info {
  border-bottom: solid 1px #cfd4d7;

  & .form-row {
    margin-bottom: 40px;
    cursor: default;
    & .info-div {
      width: 30%;
    }
    & p {
      font-size: 12px;
      color: #73787b;
      line-height: 160%;
    }
    & .info-p {
      color: #313537;
      font-weight: 600;
      &.green {
        color: #3bc86b;
      }
      &.link {
        text-decoration: underline;
        color: #1b93c5;
        cursor: pointer;
        &:hover {
          color: #4ebeee;
        }
      }
    }
  }
}
.note-section {
  border-top: solid 1px #cfd4d7;
  padding: 30px 0;
  margin-top: 1px;
  display: flex;
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  & textarea {
    width: 100%;
    min-height: 120px;
    margin-bottom: 20px;
    resize: vertical;
  }
  & .note-button {
    color: white;
  }
}

.view-medical-diagnosis-page {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  & .client-header1-line1-middle {
    margin-right: 6px;
    padding-right: 0px;
    padding-left: 0px;
  }
  & .cd-header1-line2-text {
    color: #3bc86b;
    font-weight: 600;
  }
  & .requirement-banner {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    align-items: center;
    min-width: fit-content;
    white-space: nowrap;
    & h3 {
      padding-left: 24px;
    }
  }
  & .treatment-info {
    border-top: solid 1px #cfd4d7;
    padding-top: 39px;
    & h3 {
      margin-bottom: 36px;
    }
    & .info-div {
      width: 30%;
      min-width: fit-content;
      white-space: nowrap;
      padding-bottom: 40px;
      & p {
          font-size: 12px;
      }
      & .info-p {
          font-weight: 600;
          margin-top: 6px;
      }
  }
  }
  & .codes-section {
    padding: 32px 0 41px;
    border-top: solid 1px #cfd4d7;
    & h3 {
      margin-bottom: 13px;
    }
  }
}

.view-medical-diagnosis {
  overflow-y: auto;
}

.view-doc-page {
  display: flex;
  flex-direction: column;
  min-width: 860px;
  & .client-header1-line1-middle {
    margin-right: 6px;
    padding-right: 0px;
    padding-left: 0px;
  }
  & .cd-header1-line2-text {
    color: #3bc86b;
    font-weight: 600;
  }
  .view-doc {
    overflow-y: auto;
    & .requirement-banner {
      display: flex;
      flex-direction: row;
      padding: 24px 0;
      align-items: center;
      min-width: fit-content;
      white-space: nowrap;
      & h3 {
        padding-left: 24px;
      }
    }
    & .document-section {
      border-top: solid 1px #cfd4d7;
      padding: 40px 0;
      & h3 {
        margin-bottom: 27px;
      }
    }
    & .doc-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      margin-bottom: 10px;
      & h6 {
        font-size: 14px;
      }
      & p {
        font-size: 12px;
        padding: 7px;
        color: #1b93c5;
        cursor: pointer;
        & svg {
          margin-right: 6px;
          margin-bottom: -1px;
        }
        &:hover {
          color: #75cef5;
          & svg path {
            fill: #75cef5;
          }
        }
      }
    }
    & .doc-div {
      border: solid 1px #9aa0a3;
      & .doc-img {
        width: 100%;
      }
    }
  }
}

.data-to-share {
  margin-bottom: 60px;
  & .select-all-fields {
    display: flex;
    align-items: center;
    margin: -12px 15px 19px;
    & p {
      padding-left: 6px;
      font-size: 12px;
    }
  }
  & .fields {
    border: solid 1px #cfd4d7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    & .field-row {
      border-bottom: solid 1px #cfd4d7;
      display: flex;
      flex-direction: row;
      padding: 6px 10px;
      align-items: center;
      background-color: #fff;
      & .order-icon-div {
        padding: 7px;
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        &:hover {
          svg line {
            stroke: black;
          }
          svg {
            filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
          }
        }
      }
      & .checkbox-div {
        display: flex;
        padding-left: 12px;
        align-items: center;
        & p {
          padding-left: 10px;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }
  .dragging {
    border-top: solid 1px #cfd4d7;
  }
  ul {
    padding-inline-start: 0px;
    list-style: none;
  }
}

//-------- Media Queries ------------

@media screen and (max-width: 1225px) {
  .main-info-middle {
    & .bottom {
      & .info-div {
        padding-right: 30px;
      }
    }
  }
}

@media screen and (max-width: 1017px) {
  .main-info-middle {
    & .bottom {
      & .info-div {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 888px) {
  .arrow-div.rotate {
    transform: translate(14px, 0);
  }
}

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//     display: none;
//   }
//   100% {
//     opacity: 1;
//     display: flex;
//   }
// }

// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//     display: flex;
//   }
//   100% {
//     opacity: 0;
//     display: none;
//   }
// }

@keyframes shrinkSize {
  0% {
    width: 108px;
  }
  100% {
    width: 55px;
    margin-left: 43px;
  }
}

// @keyframes growSize {
//   0% {
//     width: 55px;
//     margin-left: 43px;
//   }
//   100% {
//     width: 115px;
//   }
// }
